/configure
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/depcomp
/fgadm
/fgadm.conf
/filtergen.spec
/install-sh
/missing
/parser.c
/parser.h
/rules.filter
/scanner.c
/stamp-h1
/ylwrap
.deps/
Makefile
Makefile.in
*.o
